body {
  background-image: url("http://static.vecteezy.com/system/resources/previews/000/101/570/original/free-garden-vector.png");
}

.veggie {
  height: 40px;
  width: 40px;
  display:inline-block;
  margin-left: 26px;
  margin-bottom: 20px;

}

#land {
  margin-left: 100px;
  margin-right: auto;
  width: 550px;
  display: inline-block;
  float: left;
}

div {
  display: inline;
}

.row {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;

}

#sideDiv {
  display:block;
  float: right;
  border: 1px solid;
  width: 350px;
  height: 400px;
  margin-right: 100px;
}

#clock {
 width: 350px;
 height: 200px;
 border: 1px solid;
 display: block;
 text-align: center;

}

#score {
  text-align: center;
  font-size: 30px;
  display: block;

}

#bottomDiv {
  clear:left;
  display: inline-block;
  width: 350px;
  height: 400px;
}

h1 {
  text-align: center;
  font-size: 80px;
  color: green;
}

img {
  width: 50px;
  height: 50px;
}

button {
  width: 100px;
  height: 30px;
  margin-left: 350px;
  margin-right: auto;
  display: block;

}

#scorePoints {
  margin-top: 10px;
  font-size: 90px;
}
