body {
  background-image: url("http://i.imgur.com/38foBGQ.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 1300px;
  background-position: center;
  background-attachment: fixed;


}



#land {
  margin-left: 120px;
  margin-right: auto;
  margin-top: 50px;
  width: 550px;
  display: inline-block;
  float: left;
  background-color: white;

  opacity: .8;
  padding: 20px;
}

div {
  display: inline;
}

.row {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;

}

#sideDiv {
  display:block;
  float: right;
  border: 1px solid white;;
  width: 350px;
  height: 490px;
  margin-right: 100px;
  background-color: white;
  opacity: .8;
  margin-top: 50px;
}

#clock {
 width: 350px;
 height: 200px;
 display: block;
 text-align: center;
 margin-top: 20px;
 font-size: 30px;

}

#score {
  text-align: center;
  font-size: 30px;
  display: block;
  margin-top: 20px;

}

#bottomDiv {
  clear:left;
  display: inline-block;
  width: 350px;
  height: 400px;
}

h1 {
  text-align: center;
  font-size: 90px;
  color: black;
  margin: 10px;
  font-family: 'Bungee Shade', cursive;
  opacity: .7;
}

img {
  width: 50px;
  height: 50px;
}

button {
  width: 120px;
  height: 40px;
  margin-left: 350px;
  margin-right: auto;
  display: block;
  margin-top: 30px;
  margin-left: 250px;

}

#scorePoints {
  margin-top: 10px;
  font-size: 90px;
}

.timer {
  font-size: 100px;
}
